body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    overflow-x: hidden;
}

body.videoplayer {
    overflow: hidden;
    background: #000;
    padding: 0 !important;
}

a:hover {
    text-decoration: none !important;
}

a.nav-link {
    color: #4151b5;
}

.nav-item {
    position: relative;
}

iframe {
    border: none;
}

option:disabled {
    background: red;
    color: #fff;
}

.dropdown-menu {
    font-size: 15px !important;
}

.dropdown-toggle img,
.dropdown-item img {
    margin-top: -3px;
}

.table .dropdown-menu {
    overflow-y: auto;
}

.table#tbVideos .dropdown-menu {
    max-height: 264px;
}

.btn-block,
.header-title h2 {
    text-overflow: ellipsis;
    word-break: break-word;
}

.btn-group-sm>.btn,
.btn-sm {
    font-size: 0.875rem;
}

@media (min-width: 1024px) and (max-width: 1199.99999px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .header-title h2 {
        font-size: 1.4em !important;
    }
}

@media (max-width: 576px) {
    .header-title h2 {
        font-size: 1.2em !important;
    }
}

.input-group-prepend>.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 1;
}

.input-group-append>.form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 1;
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .container,
    .container-sm {
        max-width: 95% !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 95% !important;
    }
}

.btn-green {
    color: #000 !important;
    background-color: #3ae464;
    border-color: #3ae464;
}

.btn-green.focus,
.btn-green:focus,
.btn-green:hover {
    box-shadow: 0 0 0 0.2rem rgba(58, 200, 100, 0.25);
}

:focus-visible,
.dropdown-item,
.navbar-toggler {
    outline: 0 !important;
}

.dropdown-item .fa {
    min-width: 17px;
}

#footer .nav-link,
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

@media screen and (max-width: 767.99999px) {
    .nav-pills.nav-justified {
        display: block;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg.navbar-dark .nav-item.active:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -0.55rem;
        border: 0 solid #fff;
        border-bottom-width: 0.2rem;
    }
}

.bg-dark {
    background-image: linear-gradient(248deg, #222, #333);
}

#footer .nav-link:focus,
#footer .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

table.dataTable {
    margin: 0 !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin-top: 6px !important;
}

table.dataTable.dtr-inline.collapsed.table-sm>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed.table-sm>tbody>tr>th:first-child:before {
    top: 15px;
}

div.dataTables_wrapper div.dataTables_info {
    padding-bottom: 0.85em !important;
    white-space: normal !important;
}

table.dataTable>tbody>tr.child ul.dtr-details {
    display: block !important;
}

table.dataTable>tbody>tr.child ul.dtr-details>li {
    display: flex;
}

table.dataTable>tbody>tr.child span.dtr-title {
    display: block !important;
    float: left;
    text-align: left !important;
    width: 33.33333%;
}

table.dataTable>tbody>tr.child span.dtr-data {
    display: block !important;
    text-align: left !important;
    float: right;
    word-break: break-all;
    width: 66.66666%;
}

.table tr.unavailable>td {
    background-color: rgba(255, 0, 0, 0.2);
}

.table .title {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 480px) {
    .table .title {
        max-width: 200px;
    }
}

.sweet-alert {
    outline: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.sweet-alert .text-muted {
    font-weight: 400;
    word-break: break-word !important;
}

.sweet-alert .btn-lg {
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.sweet-alert p.lead {
    overflow-y: auto;
    max-height: 300px;
}

.sweet-alert .form-group.has-error .sa-input-error {
    display: block;
}

.sweet-alert .form-group.has-error .form-control {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.sweet-alert .form-group.has-error .form-control:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 25%);
}

.sweet-alert .form-group.has-error .sa-input-error .sa-help-text {
    color: #dc3545;
}

#gotoTop {
    position: fixed;
    bottom: 0;
    border: 0;
    left: auto;
    top: auto;
    right: 15px;
    width: 50px;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: none;
    z-index: 9999999;
    outline: 0;
}

#gotoTop .gotoContent {
    display: block;
    position: relative;
    text-align: center;
    color: #fff;
    height: 100%;
    padding: 5px;
}

.a2a_menu {
    border: 0 !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.a2a_wide a {
    margin-top: 0 !important;
}

.a2a_floating_style {
    left: 0;
    top: 150px;
    position: fixed;
    z-index: 1024 !important;
}

.a2a_floating_style a {
    clear: left;
    display: block;
    overflow: hidden;
    padding: 4px;
    text-decoration: none;
}

@media screen and (max-height: 480px) {
    .a2a_floating_style {
        top: 0;
    }
}

@media screen and (max-width: 1099px) {
    .a2a_floating_style {
        top: auto;
        bottom: 0;
        width: auto;
        min-width: 208px;
        border-radius: 0 6px 0 0 !important;
    }

    .a2a_floating_style a {
        float: left;
        line-height: 16px;
        padding: 4px;
        clear: none;
    }
}

@media screen and (max-width: 767px) {

    .ms-container,
    .ms-container .ms-selectable,
    .ms-container .ms-selection {
        width: 100% !important;
    }

    .ms-container .ms-selectable {
        margin-bottom: 2rem !important;
    }
}

.jQWCP-wWidget {
    width: 265px !important;
    height: 200px !important;
}

.jQWCP-mobile {
    width: 100% !important;
    max-width: 320px !important;
}

#tbVideosChecker_paginate {
    display: none !important;
}

@media (max-width: 1023.99999px) {
    #modalVideo .modal-dialog {
        max-width: 90%;
    }
}

.select2-container {
    max-width: 100% !important;
}

.embed-container {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #000;
    position: absolute;
    color: #fff;
    z-index: 3;
    line-height: 1.4;
}

.embed-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

#videoContainer {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 2;
}

.jwplayer video {
    pointer-events: none !important;
}

.jwplayer .jw-rightclick .jw-rightclick-list {
    display: none !important;
}

.jw-knob {
    width: 1.3em !important;
    height: 1.3em !important;
}

.jw-captions-text,
.jw-text-track-cue {
    background-color: rgba(0, 0, 0, 0);
    text-shadow: #000 -2px 0 1px, #000 2px 0 1px, #000 0 -2px 1px,
        #000 0 2px 1px, #000 -1px 1px 1px, #000 1px 1px 1px, #000 1px -1px 1px,
        #000 1px 1px 1px;
}

.jw-settings-menu .jw-icon.jw-button-color[aria-expanded="true"]::after {
    display: none !important;
}

.jw-settings-menu,
.jw-button-container {
    z-index: 2;
}

.jw-controlbar .jw-button-container .jw-icon-volume .jw-overlay {
    padding-bottom: 0 !important;
}

@media screen and (max-width: 767px) {

    .jw-button-container .jw-icon-airplay,
    .jw-button-container .jw-settings-sharing {
        display: none !important;
    }
}

.jw-breakpoint-6 .jw-settings-menu,
.jw-breakpoint-5 .jw-settings-menu {
    max-height: 222px !important;
}

.jw-breakpoint-1 .jw-icon-cc,
.jw-breakpoint-1 .jw-icon[button="download"],
.jw-breakpoint-2 .jw-icon-cc,
.jw-flag-floating .jw-icon[button="pip"],
.jw-flag-floating .jw-icon-cc,
.jw-flag-floating .jw-icon-fullscreen,
.jw-flag-floating .jw-icon[button="download"],
.jw-flag-floating .jw-icon[button="gdrive"],
.jw-flag-floating .jw-settings-sharing,
.jw-icon-volume.jw-open::after {
    display: none;
}

@media screen and (max-width: 479px) {

    .jw-icon[button="gdrive"],
    .jw-icon[button="logo"],
    .jw-icon[button="pip"],
    .jw-settings-sharing {
        display: none;
    }
}

.jw-flag-dragging .jw-slider-time .jw-knob,
.jw-icon-volume:active .jw-slider-volume .jw-knob,
.jw-slider-time:active .jw-knob,
.jw-slider-time:focus .jw-knob {
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.3),
        0 0 0 6px rgba(255, 255, 255, 0.15) !important;
}

.jw-settings-item-active::before,
.jw-icon-inline.jw-icon-rewind,
.jwplayer .jw-display-icon-container.jw-display-icon-rewind,
.jwplayer .jw-display-icon-container.jw-display-icon-next {
    display: none !important;
}

.jw-settings-topbar {
    background-color: transparent !important;
}

.jw-settings-content-item {
    font-size: 14px !important;
    padding: 9px 15px !important;
}

.jw-settings-submenu {
    padding: 0 !important;
    overflow-x: hidden;
}

.jw-settings-submenu .jw-submenu-topbar {
    box-shadow: none !important;
    background-color: transparent !important;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: rgba(255, 255, 255, 0.1);
    margin: 0 !important;
}

.jw-settings-submenu .jw-submenu-topbar .jw-settings-content-item {
    text-decoration: none !important;
    font-weight: bold;
}

.jw-settings-menu .jw-icon.jw-button-color[aria-checked="true"]::after,
.jw-settings-open .jw-icon-settings::after {
    display: none;
}

.jw-flag-small-player .jw-settings-content-item {
    line-height: 1 !important;
}

.jw-breakpoint-1:not(.jw-flag-audio-player) .jw-slider-time {
    padding: 0 12px !important;
}

.jw-breakpoint--1:not(.jw-flag-audio-player) .jw-slider-time {
    height: auto !important;
    padding: 0 !important;
}

.jw-breakpoint--1:not(.jw-flag-audio-player) .jw-slider-time .jw-slider-container {
    margin: 0 !important;
}

.jwplayer.jw-breakpoint--1:not(.jw-flag-ads):not(.jw-flag-audio-player) .jw-button-container {
    padding: 0 !important;
}

.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-icon-playback {
    display: flex !important;
}

.jwplayer.jw-breakpoint--1:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-icon-playback {
    bottom: 6px !important;
}

.jw-flag-small-player .jw-icon[button="rewind"],
.jw-flag-small-player .jw-icon[button="forward"],
.jw-breakpoint-1 .jw-icon[button="rewind"],
.jw-breakpoint-1 .jw-icon[button="forward"],
.jw-breakpoint--1 .jw-icon[button="rewind"],
.jw-breakpoint--1 .jw-icon[button="forward"] {
    display: none !important;
}

.jw-button-container {
    padding: 0 !important;
}

.jwplayer.jw-breakpoint-6 .jw-slider-time,
.jwplayer.jw-breakpoint-7 .jw-slider-time {
    padding: 0 24px !important;
}

.jwplayer.jw-breakpoint-6 .jw-button-container,
.jwplayer.jw-breakpoint-7 .jw-button-container {
    padding: 0 12px !important;
}

.jwplayer.jw-flag-live [button="rewind"],
.jwplayer.jw-flag-live [button="forward"] {
    display: none !important;
}

.jw-breakpoint-2 .jw-settings-open.jw-controls,
.jw-flag-small-player .jw-settings-open.jw-controls,
.jw-flag-touch .jw-settings-open.jw-controls {
    z-index: 5 !important;
}

.jw-flag-small-player.jw-state-paused+#server-list {
    display: none !important;
}

#mContainer #message {
    display: none;
    text-align: center;
    font-size: 1.5em;
    word-break: break-word;
}

.lds-ellipsis {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

#directAds,
#resume {
    width: 100%;
    height: 100%;
    position: absolute;
}

#resume {
    z-index: 12;
}

#directAds {
    z-index: 1024;
    background: #000;
}

#closeAds {
    font-size: 1.2rem;
    font-weight: 700;
    position: absolute;
    color: #fff;
    background: #a00000;
    border: 2px solid #fff;
    border-radius: 5px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.pop-wrap {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.pop-main {
    display: table-cell;
    vertical-align: middle;
}

.pop-html {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pop-block {
    display: inline-block;
    position: relative;
    max-width: 260px;
}

.myConfirm {
    border-radius: 5px;
    background-color: #333;
    color: #f2f2f2;
    word-break: break-word;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.4;
}

.myConfirm .button {
    border-width: 0;
    padding: 5px 15px;
    line-height: 1.4;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    background-color: #565656;
    color: #fff;
    margin: 4px;
    font-size: 11px;
}

.ms-container .ms-list {
    height: 130px !important;
}

.paypal-buttons {
    min-width: 100% !important;
}

.custom-checkbox.mx-auto {
    padding-left: 0;
    min-width: 1.5rem;
}

.custom-checkbox.mx-auto .custom-control-label:after,
.custom-checkbox.mx-auto .custom-control-label:before {
    left: 50%;
    transform: translateX(-50%);
}

.text-bold {
    font-weight: 700;
}

/*::cue,
video::cue,
video::-webkit-media-text-track-display {
    display: none !important;
}*/

.plyr {
    position: absolute !important;
    min-width: 100% !important;
    cursor: pointer;
    height: 100%;
}

.plyr__video-embed,
.plyr__video-wrapper--fixed-ratio {
    padding-bottom: 0 !important;
    height: 100% !important;
}

.plyr #videoContainer {
    display: block !important;
}

.plyr__control--overlaid {
    padding: 1.25em !important;
}

@media (max-width: 425px) {
    button[data-plyr="captions"] {
        display: none !important;
    }
}

.plyr-title {
    display: none;
    font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica,
        Arial, sans-serif;
    font-variant-numeric: tabular-nums;
    font-weight: 500;
    color: #fff;
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: unset;
    white-space: nowrap;
    width: 65%;
    font-size: 1.625em;
    position: absolute;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.plyr+.plyr-title {
    display: block;
}

@media (max-width: 640px) {
    .plyr-title {
        font-size: 1.25em;
    }
}

.plyr--hide-controls .plyr-title,
.plyr--hide-controls+.plyr-title {
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
}

.plyr-logo {
    position: absolute;
    margin: 20px;
    cursor: pointer;
    pointer-events: all;
    background-repeat: no-repeat;
    background-size: contain;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    outline: none;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.plyr-logo-top-left {
    top: 0;
    left: 0;
}

.plyr-logo-top-right {
    top: 0;
    right: 0;
}

.plyr-logo-bottom-left {
    left: 0;
}

.plyr-logo-bottom-right {
    right: 0;
}

.jw-logo-bottom-left,
.jw-logo-bottom-right,
.plyr-logo-bottom-left,
.plyr-logo-bottom-right {
    bottom: 64px;
}

.jw-breakpoint-7 .jw-logo-bottom-left,
.jw-breakpoint-7 .jw-logo-bottom-right {
    bottom: 100px;
}

.plyr--hide-controls .plyr-logo.plyr-logo-hide {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
}

.plyr--hide-controls .plyr-logo-bottom-left,
.plyr--hide-controls .plyr-logo-bottom-right {
    bottom: 0 !important;
}

.jw-tizen-app .jw-tizen-controlbar .jw-slider-time {
    margin: 0 20px !important;
}

.jwplayer.jw-stretch-uniform .jw-media video,
.plyr video.plyr-stretch-uniform {
    object-fit: contain !important;
}

.jwplayer.jw-stretch-exactfit .jw-media video,
.plyr video.plyr-stretch-exactfit {
    object-fit: fill !important;
}

.jwplayer.jw-stretch-fill .jw-media video,
.plyr video.plyr-stretch-fill {
    object-fit: cover !important;
}

.jwplayer.jw-stretch-none .jw-media video,
.plyr video.plyr-stretch-none {
    object-fit: none !important;
}

.plyr--video.plyr--menu-open {
    overflow: hidden !important;
}

.plyr__controls {
    flex-direction: column;
}

.plyr__progress {
    margin-bottom: 5px;
}

.plyr__controls .plyr__progress__container {
    flex: none !important;
}

.plyr__controls .plyr__controls__item:first-child {
    margin-right: 0 !important;
    width: 100%;
}

.plyr__custom__controls {
    align-items: center;
    display: flex;
    text-align: center;
    width: 100%;
}

.plyr__custom__controls .plyr__controls__item {
    margin-left: 2.5px;
}

.plyr__custom__controls .plyr__controls__item:first-child {
    margin-left: 0;
    margin-right: 0 !important;
    width: auto !important;
}

.plyr__custom__controls .plyr__controls__item.plyr__progress__container {
    padding-left: 2.5px;
}

.plyr__custom__controls .plyr__controls__item.plyr__time {
    padding: 0 5px;
}

.plyr__custom__controls .plyr__controls__item.plyr__progress__container:first-child,
.plyr__custom__controls .plyr__controls__item.plyr__time+.plyr__time,
.plyr__custom__controls .plyr__controls__item.plyr__time:first-child {
    padding-left: 0;
}

.plyr__custom__controls .plyr__controls__item.plyr__time+.plyr__time {
    margin-right: auto;
}

.plyr:not(.plyr--googlecast-supported) button[data-plyr="googlecast"] {
    display: none !important;
}

.plyr__menu__container [role="menu"] {
    overflow-y: auto;
    max-height: 50vh;
}

@media (max-width: 767px) {
    .plyr__volume {
        min-width: 0 !important;
        width: auto !important;
    }

    .plyr__volume input[type="range"] {
        display: none;
    }

    .plyr__time+.plyr__time {
        display: flex !important;
    }
}

.plyr__menu__container {
    background: rgba(38, 38, 38, 0.9) !important;
    color: #fff !important;
}

.plyr__menu__container .plyr__control {
    color: #fff !important;
}

.plyr__menu__container::after {
    border-top-color: rgba(38, 38, 38, 0.9) !important;
}

.plyr__menu__container .plyr__control--back::before {
    margin-top: 0 !important;
    box-shadow: 0 1px 0 #4e4e4e !important;
    background: none;
}

.plyr__menu__container .plyr__control--back::after {
    border-right-color: rgba(255, 255, 255, 0.8) !important;
}

.plyr__menu__container .plyr__control--forward::after {
    border-left-color: rgba(255, 255, 255, 0.8) !important;
}

.plyr__tooltip {
    background: rgba(38, 38, 38, 0.9) !important;
    color: #fff !important;
}

.plyr__tooltip::before {
    border-top: 4px solid rgba(38, 38, 38, 0.9) !important;
}

.plyr__captions {
    bottom: 20px !important;
    color: #ffff00 !important;
}

.plyr__captions .plyr__caption {
    background: transparent;
    line-height: 1;
    padding: 0;
    bottom: 50px;
    color: #ffff00;
    text-shadow: #000 -2px 0 1px, #000 2px 0 1px, #000 0 -2px 1px, #000 0 2px 1px, #000 -1px 1px 1px, #000 1px 1px 1px, #000 1px -1px 1px, #000 1px 1px 1px;
    white-space: normal !important;
    word-break: break-all;
}

@media (min-width: 480px) {
    .plyr__captions {
        font-size: 16px;
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .plyr__captions {
        font-size: 26px;
    }
}

@media (min-width: 992px) {
    .plyr__captions {
        font-size: 32px !important;
    }
}

@media (min-width: 1024px) {
    .plyr__captions {
        font-size: 34px !important;
    }
}

@media (min-width: 1280px) {
    .plyr__captions {
        font-size: 40px !important;
    }
}

@media (min-width: 1440px) {
    .plyr__captions {
        font-size: 44px !important;
    }
}

@media (max-width: 479px) {

    .plyr__volume input[type="range"],
    .plyr__controls__item[data-plyr="pip"],
    .plyr__controls__item[data-plyr="googlecast"],
    .plyr__controls__item[data-plyr="rewind"],
    .plyr__controls__item[data-plyr="fast-forward"],
    .plyr__controls__item[data-plyr="gdrive"] {
        display: none !important;
    }
}

.plyr__progress input[type="range"],
.plyr__progress__buffer {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::after {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.plyr__control--overlaid {
    z-index: 3 !important;
}

.plyr__captions {
    z-index: 2 !important;
}

.plyr__ads {
    transition: all .4s;
}

.plyr--ad-nonlinear>.plyr__captions {
    bottom: 140px !important;
}

@media (max-height:480px) {
    .plyr--ad-nonlinear>.plyr__captions {
        bottom: 100px !important;
    }
}

.plyr--ad-nonlinear>.plyr__ads>div:not(.plyr__controls) {
    height: calc(100% - 70px) !important;
    transition: all .4s;
}

.plyr--ad-nonlinear.plyr--ad-linear>.plyr__ads>div:not(.plyr__controls),
.plyr--ad-nonlinear.plyr--hide-controls>.plyr__ads>div:not(.plyr__controls) {
    height: 100% !important;
}

.plyr--ad-loaded .plyr__ads::after,
.plyr--ad-nonlinear.plyr--ad-loaded>.plyr__ads>.plyr__controls,
.plyr:not(.plyr--ad-linear).plyr--ad-loaded>.plyr__ads>.plyr__controls,
.plyr--ad-linear.plyr--ad-loaded>.plyr__control--overlaid,
.plyr--ad-linear.plyr--ad-loaded>.plyr__controls,
.plyr--ad-linear.plyr--ad-loaded>.plyr__captions {
    display: none;
}

.plyr__volume[hidden],
.plyr__volume[hidden]>button[hidden],
.plyr--ad-linear>.plyr__ads .plyr__controls,
.plyr--ad-nonlinear.plyr--ad-linear>.plyr__ads .plyr__controls {
    display: flex !important;
}

.plyr--ad-nonlinear .plyr__ads,
.plyr__ads>div,
.plyr__ads>div iframe {
    z-index: 1 !important;
}

.plyr__ads>.plyr__controls {
    padding: 10px !important;
    top: auto;
    height: auto !important;
    z-index: 2 !important;
}

.plyr__ads>.plyr__controls .plyr__controls__item.plyr__time {
    color: #ffeb3b;
}

.plyr__menu__group {
    text-align: center;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 12px;
}

#server-list {
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 4;
    left: auto;
    bottom: auto;
}

#btnServer {
    position: relative;
    display: inline-block;
    background-color: #673ab7;
    border: 1px solid #673ab7;
    padding: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    white-space: nowrap;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 42px;
    height: 42px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#btnServer:hover {
    background-color: #3f51b5;
    border-color: #3f51b5;
}

#btnServer img {
    vertical-align: middle;
}

#servers {
    list-style: none;
    padding: 0;
    display: none;
    background-color: #fff;
    position: absolute;
    width: 200px;
    max-width: 300px;
    right: 45px;
    top: 0;
    margin: 0;
    border-radius: 0.25em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    max-height: calc(100vh - 25px);
    overflow-y: auto;
}

#servers li a {
    color: #262626;
    padding: 9px 15px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    font-family: Arial;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
}

#servers li:last-child a {
    border-bottom: 0;
}

#servers li a:hover,
#servers li a:focus,
#servers li a.active {
    color: #fff;
    background-color: #673ab7;
}

#servers li a.active {
    cursor: not-allowed;
    pointer-events: none;
}

#servers li a img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.toastify {
    padding: 10px 25px;
    max-width: 320px;
}

.toast-close {
    padding: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
}

.picker-dialog {
    z-index: 99999 !important;
}

.picker-dialog-bg {
    z-index: 99998 !important;
}

.picker-dialog-content {
    min-height: 600px !important;
}

.treeview>.list-group {
    border-radius: 0;
}

#btn-google-login>div {
    margin: -2px !important;
}

#btn-google-login iframe {
    margin: -2px auto !important;
    height: 44px !important;
}

.ui-sortable .move {
    cursor: move !important;
}

#modalFileManager.expanded .modal-dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 0;
}

#modalFileManager.expanded .modal-content {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    border-radius: 0;
    /*shadow: noneth*/
}

.video-js.vjs-fluid {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
}