@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7qsDJT9g.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
        U+FE2E-FE2F;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7jsDJT9g.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7rsDJT9g.woff2) format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7ksDJT9g.woff2) format("woff2");
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7osDJT9g.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
        U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7psDJT9g.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDI.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
        U+FE2E-FE2F;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lqDY.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNK7lqDY.woff2) format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2) format("woff2");
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lqDY.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
        U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

.jw-reset,
.jw-reset-text,
.jw-text {
    font-family: "Source Sans Pro", sans-serif !important;
    font-style: italic !important;
}

.jw-button-color {
    color: #ddd !important;
}

.jw-knob {
    width: 15px !important;
    height: 15px !important;
}

.jw-flag-dragging .jw-slider-time .jw-knob,
.jw-icon-volume:active .jw-slider-volume .jw-knob,
.jw-slider-time:active .jw-knob,
.jw-slider-time:focus .jw-knob {
    box-shadow: 0 0 0 6px rgba(0, 192, 0, 0.25) !important;
}

.jw-volume-tip {
    padding: 16px 0;
    border-radius: 5px;
    background: rgba(22, 22, 26, 0.8);
    max-width: 50px;
    margin: 0 auto;
}

.jw-settings-menu {
    background: rgba(22, 22, 26, 0.8) !important;
    border-radius: 5px;
}

.jw-settings-content-item {
    font-size: 15px !important;
}

.jw-sharing-link:active,
.jw-sharing-copy:active.jw-sharing-link:hover,
.jw-button-color.jw-toggle.jw-off:active:not(.jw-icon-cast),
.jw-button-color.jw-toggle.jw-off:focus:not(.jw-icon-cast),
.jw-button-color.jw-toggle.jw-off:hover:not(.jw-icon-cast),
.jw-button-color.jw-toggle:not(.jw-icon-cast),
.jw-button-color:active:not(.jw-icon-cast),
.jw-button-color:focus:not(.jw-icon-cast),
.jw-button-color:hover:not(.jw-icon-cast),
.jw-button-color[aria-expanded=true]:not(.jw-icon-cast),
.jw-settings-content-item.jw-settings-item-active,
.jw-settings-menu .jw-icon.jw-button-color[aria-checked="true"] .jw-svg-icon {
    fill: #00c234 !important;
    color: #00c234 !important;
    background-color: transparent !important;
}

.jw-progress,
.lds-ellipsis div {
    background-color: #00c234 !important;
    background-image: -webkit-linear-gradient(-90deg,
            #1fc591,
            #23d41e 97%) !important;
    background-image: -moz-linear-gradient(-90deg,
            #1fc591,
            #23d41e 97%) !important;
    background-image: -o-linear-gradient(-90deg,
            #1fc591,
            #23d41e 97%) !important;
    background-image: linear-gradient(-90deg, #1fc591, #23d41e 97%) !important;
}

.jw-svg-icon-cc-off path,
.jw-svg-icon-cc-on path {
    display: none;
}

.jw-svg-icon-cc-off,
.jw-svg-icon-cc-on {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%23ddd' fill-rule='evenodd' d='M17.82 9.27s-5.768.221-11.639 0c-.543-.02-.984-.44-.984-.985 0-.544.441-.95.984-.984 5.82-.366 11.64 0 11.64 0a.984.984 0 110 1.969m-4.624 4.685s-3.508.18-7.016 0c-.543-.028-.984-.44-.984-.984s.441-.95.984-.984c3.508-.226 7.016 0 7.016 0a.984.984 0 110 1.968m9.194-7.319a3.437 3.437 0 00-2.675-3.141c-1.775-.402-4.442-.828-7.76-.828-3.49 0-6.037.396-7.693.785a3.44 3.44 0 00-2.646 3.11c-.066.94-.117 2.194-.117 3.83 0 1.64.054 2.933.122 3.913a3.443 3.443 0 002.754 3.127c.41.084.869.168 1.372.248a1.236 1.236 0 011.034 1.336 14.163 14.163 0 01-.477 2.466.507.507 0 00.655.617c1.276-.446 3.576-1.392 5.226-2.88a4.554 4.554 0 012.763-1.155c1.976-.126 3.543-.361 4.705-.596a3.434 3.434 0 002.745-3.165c.056-.967.101-2.23.101-3.814 0-1.575-.049-2.861-.109-3.853'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-cc:hover .jw-svg-icon-cc-off,
.jw-icon-cc:hover .jw-svg-icon-cc-on,
.jw-settings-captions:hover .jw-svg-icon-cc-off,
.jw-settings-captions:hover .jw-svg-icon-cc-on,
.jw-settings-captions[aria-expanded="true"] .jw-svg-icon-cc-off,
.jw-settings-captions[aria-expanded="true"] .jw-svg-icon-cc-on {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%2300c234' fill-rule='evenodd' d='M17.82 9.27s-5.768.221-11.639 0c-.543-.02-.984-.44-.984-.985 0-.544.441-.95.984-.984 5.82-.366 11.64 0 11.64 0a.984.984 0 110 1.969m-4.624 4.685s-3.508.18-7.016 0c-.543-.028-.984-.44-.984-.984s.441-.95.984-.984c3.508-.226 7.016 0 7.016 0a.984.984 0 110 1.968m9.194-7.319a3.437 3.437 0 00-2.675-3.141c-1.775-.402-4.442-.828-7.76-.828-3.49 0-6.037.396-7.693.785a3.44 3.44 0 00-2.646 3.11c-.066.94-.117 2.194-.117 3.83 0 1.64.054 2.933.122 3.913a3.443 3.443 0 002.754 3.127c.41.084.869.168 1.372.248a1.236 1.236 0 011.034 1.336 14.163 14.163 0 01-.477 2.466.507.507 0 00.655.617c1.276-.446 3.576-1.392 5.226-2.88a4.554 4.554 0 012.763-1.155c1.976-.126 3.543-.361 4.705-.596a3.434 3.434 0 002.745-3.165c.056-.967.101-2.23.101-3.814 0-1.575-.049-2.861-.109-3.853'/%3E%3C/svg%3E");
}

.jw-svg-icon-play path {
    display: none;
}

.jw-svg-icon-play {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24'%3E%3Cpath fill='%23ddd' fill-rule='evenodd' d='M6.313 22.05c-1.22.722-2.75-.148-2.811-1.586-.238-5.65-.21-11.216.02-16.928.057-1.408 1.53-2.282 2.751-1.62 5.481 2.97 10.822 6.162 13.825 7.992 1.174.715 1.223 2.426.091 3.21-2.89 2.002-8.095 5.507-13.876 8.932z'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-display:hover .jw-svg-icon-play,
.jw-icon-playback:hover .jw-svg-icon-play {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24'%3E%3Cpath fill='%2300c234' fill-rule='evenodd' d='M6.313 22.05c-1.22.722-2.75-.148-2.811-1.586-.238-5.65-.21-11.216.02-16.928.057-1.408 1.53-2.282 2.751-1.62 5.481 2.97 10.822 6.162 13.825 7.992 1.174.715 1.223 2.426.091 3.21-2.89 2.002-8.095 5.507-13.876 8.932z'/%3E%3C/svg%3E%0A");
}

.jw-svg-icon-pause path {
    display: none;
}

.jw-svg-icon-pause {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24'%3E%3Cpath fill='%23ddd' fill-rule='evenodd' d='M6.867 1.013c1.177 0 2.13.932 2.13 2.082v17.81c0 1.15-.953 2.082-2.13 2.082H5.36c-1.177 0-2.131-.932-2.131-2.082V3.095c0-1.15.954-2.082 2.13-2.082h1.507zm12.772 0c1.177 0 2.131.932 2.131 2.082v17.81c0 1.15-.954 2.082-2.13 2.082h-1.507c-1.177 0-2.131-.932-2.131-2.082V3.095c0-1.15.954-2.082 2.131-2.082h1.506z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-display:hover .jw-svg-icon-pause,
.jw-icon-playback:hover .jw-svg-icon-pause {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24'%3E%3Cpath fill='%2300c234' fill-rule='evenodd' d='M6.867 1.013c1.177 0 2.13.932 2.13 2.082v17.81c0 1.15-.953 2.082-2.13 2.082H5.36c-1.177 0-2.131-.932-2.131-2.082V3.095c0-1.15.954-2.082 2.13-2.082h1.507zm12.772 0c1.177 0 2.131.932 2.131 2.082v17.81c0 1.15-.954 2.082-2.13 2.082h-1.507c-1.177 0-2.131-.932-2.131-2.082V3.095c0-1.15.954-2.082 2.131-2.082h1.506z'/%3E%3C/svg%3E");
}

.jw-svg-icon-volume-100 path {
    display: none;
}

.jw-svg-icon-volume-100 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ddd' viewBox='0 0 1024 1024'%3E%3Cpath d='M290.6 266l218.7-145.8c22.6-15.1 53.1-9 68.2 13.6 5.4 8.1 8.3 17.6 8.2 27.4v701.5c0 27.1-22 49.2-49.2 49.3-9.7 0-19.2-2.8-27.3-8.2l-218.6-146H93.8c-27.1 0-49.2-22.1-49.2-49.2V315.2c0-27.1 22.1-49.2 49.2-49.2h196.8zm49.2 98.4H143v295.1h196.8l147.6 107.2V257.1L339.8 364.4zM684.1 171c188.3 27.2 318.9 201.9 291.6 390.2-21.8 151-140.5 269.8-291.6 291.6V753C817.2 725.7 903 595.6 875.7 462.5 856 366 780.6 290.7 684.1 270.9V171zm0 201.7c76.8 27.1 117.3 111.5 90.1 188.3-14.9 42.1-48 75.3-90.1 90.1V372.7z'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-volume:hover .jw-svg-icon-volume-100 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300c234' viewBox='0 0 1024 1024'%3E%3Cpath d='M290.6 266l218.7-145.8c22.6-15.1 53.1-9 68.2 13.6 5.4 8.1 8.3 17.6 8.2 27.4v701.5c0 27.1-22 49.2-49.2 49.3-9.7 0-19.2-2.8-27.3-8.2l-218.6-146H93.8c-27.1 0-49.2-22.1-49.2-49.2V315.2c0-27.1 22.1-49.2 49.2-49.2h196.8zm49.2 98.4H143v295.1h196.8l147.6 107.2V257.1L339.8 364.4zM684.1 171c188.3 27.2 318.9 201.9 291.6 390.2-21.8 151-140.5 269.8-291.6 291.6V753C817.2 725.7 903 595.6 875.7 462.5 856 366 780.6 290.7 684.1 270.9V171zm0 201.7c76.8 27.1 117.3 111.5 90.1 188.3-14.9 42.1-48 75.3-90.1 90.1V372.7z'/%3E%3C/svg%3E%0A");
}

.jw-svg-icon-volume-50 path {
    display: none;
}

.jw-svg-icon-volume-50 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ddd' viewBox='0 0 1024 1024'%3E%3Cpath d='M290.6 266l218.7-145.8c22.6-15.1 53.1-9 68.2 13.6 5.4 8.1 8.3 17.6 8.2 27.4v701.5c0 27.1-22 49.2-49.2 49.3-9.7 0-19.2-2.8-27.3-8.2l-218.6-146H93.8c-27.1 0-49.2-22.1-49.2-49.2V315.2c0-27.1 22.1-49.2 49.2-49.2h196.8zm49.2 98.4H143v295.1h196.8l147.6 107.2V257.1L339.8 364.4zM684.1 171c188.3 27.2 318.9 201.9 291.6 390.2-21.8 151-140.5 269.8-291.6 291.6V753C817.2 725.7 903 595.6 875.7 462.5 856 366 780.6 290.7 684.1 270.9V171zm0 201.7c76.8 27.1 117.3 111.5 90.1 188.3-14.9 42.1-48 75.3-90.1 90.1V372.7z'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-volume:hover .jw-svg-icon-volume-50 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300c234' viewBox='0 0 1024 1024'%3E%3Cpath d='M290.6 266l218.7-145.8c22.6-15.1 53.1-9 68.2 13.6 5.4 8.1 8.3 17.6 8.2 27.4v701.5c0 27.1-22 49.2-49.2 49.3-9.7 0-19.2-2.8-27.3-8.2l-218.6-146H93.8c-27.1 0-49.2-22.1-49.2-49.2V315.2c0-27.1 22.1-49.2 49.2-49.2h196.8zm49.2 98.4H143v295.1h196.8l147.6 107.2V257.1L339.8 364.4zM684.1 171c188.3 27.2 318.9 201.9 291.6 390.2-21.8 151-140.5 269.8-291.6 291.6V753C817.2 725.7 903 595.6 875.7 462.5 856 366 780.6 290.7 684.1 270.9V171zm0 201.7c76.8 27.1 117.3 111.5 90.1 188.3-14.9 42.1-48 75.3-90.1 90.1V372.7z'/%3E%3C/svg%3E%0A");
}

.jw-svg-icon-volume-0 path {
    display: none;
}

.jw-svg-icon-volume-0 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ddd' viewBox='0 0 1024 1024'%3E%3Cpath d='M290.6 266l218.6-145.8c22.6-15.1 53.1-9 68.2 13.6 5.4 8.1 8.3 17.6 8.3 27.4v701.5c0 27.1-22 49.2-49.1 49.3-9.7 0-19.3-2.9-27.3-8.2l-218.7-146H93.8c-27.1 0-49.2-22.1-49.2-49.2V315.2c0-27.1 22-49.2 49.2-49.2h196.8zm49.2 98.4H143v295.1h196.6l147.6 107.2V257.1L339.8 364.4zm477.9 44.4l81.6-123.4c7.3-11.1 21.7-13.8 32.2-6l38 28.1c10.4 7.8 13 23 5.7 34.2l-101 152.5 101 152.6c7.3 11.1 4.7 26.4-5.7 34.1l-37.9 28.2c-10.4 7.8-24.9 5.1-32.2-6l-81.6-123.4-81.6 123.4c-7.3 11.1-21.7 13.8-32.2 6l-38-28.2c-10.4-7.8-13-23-5.7-34.1l101-152.6-101-152.5c-7.4-11.1-4.9-26.4 5.7-34.2l37.9-28.1c10.4-7.8 24.9-5.1 32.2 6l81.6 123.4z'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-volume:hover .jw-svg-icon-volume-0 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300c234' viewBox='0 0 1024 1024'%3E%3Cpath d='M290.6 266l218.6-145.8c22.6-15.1 53.1-9 68.2 13.6 5.4 8.1 8.3 17.6 8.3 27.4v701.5c0 27.1-22 49.2-49.1 49.3-9.7 0-19.3-2.9-27.3-8.2l-218.7-146H93.8c-27.1 0-49.2-22.1-49.2-49.2V315.2c0-27.1 22-49.2 49.2-49.2h196.8zm49.2 98.4H143v295.1h196.6l147.6 107.2V257.1L339.8 364.4zm477.9 44.4l81.6-123.4c7.3-11.1 21.7-13.8 32.2-6l38 28.1c10.4 7.8 13 23 5.7 34.2l-101 152.5 101 152.6c7.3 11.1 4.7 26.4-5.7 34.1l-37.9 28.2c-10.4 7.8-24.9 5.1-32.2-6l-81.6-123.4-81.6 123.4c-7.3 11.1-21.7 13.8-32.2 6l-38-28.2c-10.4-7.8-13-23-5.7-34.1l101-152.6-101-152.5c-7.4-11.1-4.9-26.4 5.7-34.2l37.9-28.1c10.4-7.8 24.9-5.1 32.2 6l81.6 123.4z'/%3E%3C/svg%3E%0A");
}

.jw-svg-icon-settings path {
    display: none;
}

.jw-svg-icon-settings {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%23ddd' fill-rule='evenodd' d='M12 16.68a4.68 4.68 0 110-9.36 4.68 4.68 0 110 9.36m10.158-6.588l-.001-.001a1.461 1.461 0 01-1.248-1 9.208 9.208 0 00-.552-1.327 1.466 1.466 0 01.173-1.594c.459-.559.455-1.378-.03-1.913a11.354 11.354 0 00-.758-.758c-.534-.486-1.353-.488-1.91-.03h-.002a1.466 1.466 0 01-1.594.174 9.293 9.293 0 00-1.327-.553 1.46 1.46 0 01-1-1.246c-.071-.718-.648-1.295-1.369-1.33-.355-.017-.713-.02-1.072-.002-.722.031-1.306.61-1.377 1.33v.002a1.462 1.462 0 01-1 1.246c-.458.15-.902.336-1.327.553a1.465 1.465 0 01-1.594-.174c-.56-.458-1.377-.455-1.913.031-.265.242-.518.495-.758.758-.486.534-.488 1.352-.03 1.911v.001c.37.45.438 1.074.173 1.594a9.205 9.205 0 00-.551 1.328c-.18.55-.67.942-1.248.999-.717.07-1.294.65-1.33 1.369-.017.356-.017.713-.002 1.072.033.723.61 1.306 1.33 1.377h.002a1.463 1.463 0 011.248 1c.15.459.335.902.551 1.327a1.463 1.463 0 01-.172 1.594v.001a1.468 1.468 0 00.03 1.912c.242.265.495.519.758.758.534.487 1.352.488 1.911.03a1.464 1.464 0 011.595-.173c.425.217.868.401 1.327.552.552.18.943.67 1 1.247.07.718.649 1.294 1.368 1.33.357.017.714.018 1.073.002.723-.033 1.306-.61 1.377-1.33v-.002a1.46 1.46 0 011-1.247c.458-.15.903-.335 1.327-.552a1.464 1.464 0 011.594.172v.001c.558.458 1.378.455 1.912-.032.265-.24.519-.493.76-.757.485-.534.487-1.353.028-1.911a1.466 1.466 0 01-.173-1.595c.217-.425.403-.868.552-1.328a1.46 1.46 0 011.248-1c.717-.069 1.294-.648 1.33-1.368.017-.356.018-.713.001-1.071a1.466 1.466 0 00-1.33-1.377'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-settings:hover .jw-svg-icon-settings,
.jw-settings-open .jw-svg-icon-settings {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%2300c234' fill-rule='evenodd' d='M12 16.68a4.68 4.68 0 110-9.36 4.68 4.68 0 110 9.36m10.158-6.588l-.001-.001a1.461 1.461 0 01-1.248-1 9.208 9.208 0 00-.552-1.327 1.466 1.466 0 01.173-1.594c.459-.559.455-1.378-.03-1.913a11.354 11.354 0 00-.758-.758c-.534-.486-1.353-.488-1.91-.03h-.002a1.466 1.466 0 01-1.594.174 9.293 9.293 0 00-1.327-.553 1.46 1.46 0 01-1-1.246c-.071-.718-.648-1.295-1.369-1.33-.355-.017-.713-.02-1.072-.002-.722.031-1.306.61-1.377 1.33v.002a1.462 1.462 0 01-1 1.246c-.458.15-.902.336-1.327.553a1.465 1.465 0 01-1.594-.174c-.56-.458-1.377-.455-1.913.031-.265.242-.518.495-.758.758-.486.534-.488 1.352-.03 1.911v.001c.37.45.438 1.074.173 1.594a9.205 9.205 0 00-.551 1.328c-.18.55-.67.942-1.248.999-.717.07-1.294.65-1.33 1.369-.017.356-.017.713-.002 1.072.033.723.61 1.306 1.33 1.377h.002a1.463 1.463 0 011.248 1c.15.459.335.902.551 1.327a1.463 1.463 0 01-.172 1.594v.001a1.468 1.468 0 00.03 1.912c.242.265.495.519.758.758.534.487 1.352.488 1.911.03a1.464 1.464 0 011.595-.173c.425.217.868.401 1.327.552.552.18.943.67 1 1.247.07.718.649 1.294 1.368 1.33.357.017.714.018 1.073.002.723-.033 1.306-.61 1.377-1.33v-.002a1.46 1.46 0 011-1.247c.458-.15.903-.335 1.327-.552a1.464 1.464 0 011.594.172v.001c.558.458 1.378.455 1.912-.032.265-.24.519-.493.76-.757.485-.534.487-1.353.028-1.911a1.466 1.466 0 01-.173-1.595c.217-.425.403-.868.552-1.328a1.46 1.46 0 011.248-1c.717-.069 1.294-.648 1.33-1.368.017-.356.018-.713.001-1.071a1.466 1.466 0 00-1.33-1.377'/%3E%3C/svg%3E");
}

.jw-svg-icon-fullscreen-on path {
    display: none;
}

.jw-svg-icon-fullscreen-on {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M.79 1.05h8v3h-5v5h-3v-8m14 0h8v8h-3v-5h-5v-3m5 14h3v8h-8v-3h5v-5m-11 5v3h-8v-8h3v5h5z' fill='%23ddd'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-fullscreen:hover .jw-svg-icon-fullscreen-on {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M.79 1.05h8v3h-5v5h-3v-8m14 0h8v8h-3v-5h-5v-3m5 14h3v8h-8v-3h5v-5m-11 5v3h-8v-8h3v5h5z' fill='%2300c234'/%3E%3C/svg%3E");
}

.jw-svg-icon-fullscreen-off path {
    display: none;
}

.jw-svg-icon-fullscreen-off {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M15 15h8v3h-5v5h-3v-8M1 15h8v8H6v-5H1v-3M6 1h3v8H1V6h5V1m17 5v3h-8V1h3v5h5z' fill='%23ddd'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-fullscreen:hover .jw-svg-icon-fullscreen-off {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M15 15h8v3h-5v5h-3v-8M1 15h8v8H6v-5H1v-3M6 1h3v8H1V6h5V1m17 5v3h-8V1h3v5h5z' fill='%2300c234'/%3E%3C/svg%3E");
}

.jw-icon-playback .jw-svg-icon-pause,
.jw-icon-playback .jw-svg-icon-play,
.jw-svg-icon-fullscreen-off,
.jw-svg-icon-fullscreen-on,
.jw-svg-icon-settings {
    max-height: 21px !important;
    max-width: 21px !important;
}

.jw-breakpoint-7 .jw-icon-playback .jw-svg-icon-pause,
.jw-breakpoint-7 .jw-icon-playback .jw-svg-icon-play,
.jw-breakpoint-7 .jw-svg-icon-fullscreen-off,
.jw-breakpoint-7 .jw-svg-icon-fullscreen-on,
.jw-breakpoint-7 .jw-svg-icon-settings {
    max-height: 25px !important;
    max-width: 25px !important;
}

.jw-button-container {
    padding: 0 !important;
}

@media screen and (max-width: 479px) {
    .jw-button-container .jw-button-color {
        width: 44px !important;
    }
}

.jw-flag-small-player .jw-settings-menu {
    max-height: 250px;
}

.jw-settings-submenu .jw-submenu-topbar {
    box-shadow: none;
    background-color: transparent;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(153, 153, 153, 0.2);
}

.jw-settings-submenu .jw-submenu-topbar .jw-settings-content-item {
    text-decoration: none;
}

.jw-horizontal-volume-container .jw-buffer,
.jw-slider-time .jw-buffer {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.jw-breakpoint-1:not(.jw-flag-audio-player) .jw-slider-time {
    padding: 0 12px !important;
}

.jw-breakpoint--1:not(.jw-flag-audio-player) .jw-slider-time {
    height: auto !important;
    padding: 0 !important;
}

.jw-breakpoint--1:not(.jw-flag-audio-player) .jw-slider-time .jw-slider-container {
    margin: 0 !important;
}

.jwplayer.jw-breakpoint--1:not(.jw-flag-ads):not(.jw-flag-audio-player) .jw-button-container {
    padding: 0 !important;
}

.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-icon-playback {
    display: flex !important;
}

.jwplayer.jw-breakpoint--1:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-icon-playback {
    bottom: 6px !important;
}

.jw-breakpoint-1 .jw-icon[button="rewind"],
.jw-breakpoint-1 .jw-icon[button="forward"],
.jw-breakpoint--1 .jw-icon[button="rewind"],
.jw-breakpoint--1 .jw-icon[button="forward"] {
    display: none !important;
}